* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: aliceblue;
}

body {
    background: rgb(185, 196, 86);
    background: radial-gradient(circle, rgba(185, 196, 86, 1) 10%, rgba(202, 194, 71, 1) 15%, rgba(185, 196, 86, 1) 30%, rgba(100, 203, 163, 1) 62%, rgba(28, 210, 230, 1) 83%, rgba(0, 212, 255, 1) 95%);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.39);
    z-index: -1;
}

header {
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 30px;
}

.nav-bar {
    align-items: center;
    padding: 10px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.075);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding-bottom: 10px;
}

.welcome img {
    padding: 20px;
    height: 15vw;
    max-height: 200px;
}

.welcome p {
    padding: 20px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.welcome button {
    border-radius: 20px;
    background-color: rgba(246, 216, 20, 0.941);
    border: none;
    padding: 5px;
    display: none;
}

#datos {
    display: none;
}

.certificado {
    flex-direction: column;
    padding: 40px;
}

.textfield {
    padding-bottom: 10px;
}

.textfield label {
    font-weight: bold;
    text-align: left;
}

.textfield input {
    border: none;
    background-color: rgba(194, 180, 102, 0.499);
    padding-left: 5px;
}

.certificado button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: darkorange;
}

.section {
    background-color: rgba(255, 255, 255, 0.075);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 14px;
}

.section .section-title h3 {
    padding: 20px;
}

.section .section-title h5 {
    color: rgb(145, 6, 6);
    padding-left: 20px;
    padding-bottom: 20px;
}

.section span {
    padding-left: 12.5vw;
    padding-right: 10px;
}

.contenedor {
    display: none;
}

.contenedor .section-recurso {
    background-color: rgba(255, 255, 255, 0.075);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor .section-recurso .section-title h4 {
    padding-left: 20px;
}

.contenedor .section-recurso .simbol span {
    padding-right: 10px;
}

@media (max-width: 999px) {
    header {
        flex-direction: column;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome img {
        height: 170px;
    }
}

@media (min-width: 1000px) {
    .welcome p {
        padding-top: 25px;
    }
}