body {
    background: rgb(185, 196, 86);
    background: radial-gradient(circle, rgba(185, 196, 86, 1) 10%, rgba(202, 194, 71, 1) 15%, rgba(185, 196, 86, 1) 30%, rgba(100, 203, 163, 1) 62%, rgba(28, 210, 230, 1) 83%, rgba(0, 212, 255, 1) 95%);
}

body::before {
    background-color: rgba(14, 13, 13, 0.39);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

#welcome-card {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
}

.course-card{
    display: flex;
    background-color: rgba(255, 255, 255, 0.075);
    align-items: center;
    justify-content: space-around;
    border-radius: 14px;
    width: 70%;
}

.course-card h5{
    color: rgb(145, 6, 6);
}

.course-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.course-description{
    display: flex;
    background-color: rgba(255, 255, 255, 0.075);
    text-align: center;
    border-radius: 0 0 14px 14px;
    width: 70%;
}